extends ../layout
block content
	header#header.fixed-top.d-flex.align-items-center
		.container.d-flex.align-items-center
			.logo.mr-auto
				h1.text-light
					a(href='/ru') Mazzo
			nav.nav-menu.d-none.d-lg-block
				ul
					li.active
						a(href='/ru') Главное
					li
						a(href='#about') О нас
					li
						a(href='/ru/katalog') Каталог

					li
						a(href='#pricing') Pricing

					li
						a(href='#team') Team
					li
						a(href='#contact') Контакты
					li
						a(href='/en') ен
	section#hero.d-flex.flex-column.justify-content-end.align-items-center
		#heroCarousel.container.carousel.carousel-fade(data-ride='carousel')
			// Slide 1
			.carousel-item.active
				.carousel-container
					h2.animate__animated.animate__fadeInDown
						|Добро пожаловать в
						span  Mazzo
					a.btn-get-started.animate__animated.animate__fadeInUp.scrollto(href='#about') Читать далее
		svg.hero-waves(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 24 150 28 ', preserveAspectRatio='none')
			defs
				path#wave-path(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
			g.wave1
				use(xlink:href='#wave-path', x='50', y='3', fill='rgba(255,255,255, .1)')
			g.wave2
				use(xlink:href='#wave-path', x='50', y='0', fill='rgba(255,255,255, .2)')
			g.wave3
				use(xlink:href='#wave-path', x='50', y='9', fill='#fff')
	main#main
		section#about.about
			.container
				.section-title(data-aos='zoom-out')
					h2 О нас
					p Кто мы
				.row.content(data-aos='fade-up')
					.col-lg-6
						h2
							|На сегодняшний день:
						ul
							li
								i.ri-check-double-line
								| мы располагаем собственными производственными мощностями по пошиву текстильных изделий любой сложности, расположенными в  Ташкенте
							li
								i.ri-check-double-line
								|  мы доставляем заказы покупателям в Ташкенте собственной курьерской службой, а региональным заказчикам курьерскими и транспортными компаниями;
							li
								i.ri-check-double-line
								|  мы являемся   производителем  текстильных изделий, что гарантирует оптимальные цены и доступ ко всему производимому ассортименту в Узбекистане и СНГ;
					.col-lg-6.pt-4.pt-lg-0
						p
							| Интернет магазин Mazzo - один из  самых большых магазинов постельного белья в Узбекистане. Магазин был создан в 2019 году, и не смотря, что компания является новичком на рынке, она успела завоевать почёт и уважение не только  местных клиентов, но и покупателей по всему СНГ
						a.btn-learn-more(href='#') Читать далее

		section#features.features
			.container
				ul.nav.nav-tabs.row.d-flex
					li.nav-item.col-3(data-aos='zoom-in')
						a.nav-link.active.show(data-toggle='tab', href='#tab-1')
							i.ri-cloud-fill
							h4.d-none.d-lg-block 100% хлопок
					li.nav-item.col-3(data-aos='zoom-in', data-aos-delay='100')
						a.nav-link(data-toggle='tab', href='#tab')
							i.ri-award-fill
							h4.d-none.d-lg-block Высший сорт хлопка(Египетский)
					li.nav-item.col-3(data-aos='zoom-in', data-aos-delay='200')
						a.nav-link(data-toggle='tab', href='#tab')
							i.ri-shield-check-line
							h4.d-none.d-lg-block Гарантия 15-20 лет
					li.nav-item.col-3(data-aos='zoom-in', data-aos-delay='300')
						a.nav-link(data-toggle='tab', href='#tab')
							i.ri-paint-line
							h4.d-none.d-lg-block Безупречная окраска
				.tab-content(data-aos='fade-up')
					#tab-1.tab-pane.active.show
						.row
							.col-lg-6.order-2.order-lg-1.mt-3.mt-lg-0
								h3 Какой вид хлопка мы используем в производстве постельного белья?
								//p.font-italic
								//	| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
									| magna aliqua.
								ul
									li
										i.ri-check-double-line
										|  Доводилось вам слышать про Египетский хлопок? Этот великолепный сорт хлопка является тонковолокнистым, длина волокна составляет 15 см, а если сравнить с обычным сортом, чья длина может достигать до 2.5 см, это в 6 раз длинее.
									li
										i.ri-check-double-line
										|  Качество будущей пряжи определяется длиной этих волокон: чем они длиннее, ровнее и однородней, тем более высокого качества и прочности выходит конечный продукт. Так, например, постельное белье из египетского хлопка служит в половину дольше, нежели качественное, но из простого хлопка. А восхитительную гладкость, мягкость и элитную тонкость ткани из египетского хлопка можно надолго запомнить лишь однажды прикоснувшись к ее поверхности.

							.col-lg-6.order-1.order-lg-2.text-center
								img.img-fluid(src='/images/Home/27757.jpg', alt='')
					// ======= Services Section =======
		section#services.services
			.container
				.section-title(data-aos='zoom-out')
					h2 Сервисы
					p Что мы можем предложить?
				.row
					.col-lg-4.col-md-6
						.icon-box(data-aos='zoom-in-left')
							.icon
								i.las.la-fish(style='color: #ff689b;')
							h4.title
								a(href='') Новые коллекции
							p.description
								| Мы стараемся развиваться в ногу со временем и поэтому  наша команда работает над новыми дизайнами каждый день
					.col-lg-4.col-md-6.mt-5.mt-md-0
						.icon-box(data-aos='zoom-in-left', data-aos-delay='100')
							.icon
								i.las.la-book(style='color: #e9bf06;')
							h4.title
								a(href='') Быстрая обратная связь
							p.description
								| Наши сотрудники выкладываются во всю,  чтоб ни одному посетителю нашего сайта задавший вопрос не пришлось ждать очень долго
					.col-lg-4.col-md-6.mt-5.mt-lg-0
						.icon-box(data-aos='zoom-in-left', data-aos-delay='200')
							.icon
								i.las.la-file-alt(style='color: #3fcdc7;')
							h4.title
								a(href='') Индивидуальный подход к каждому клиенту
							p.description
								| Вы можете заказать новый комплект постельного белья сшитый исключительно для вас указав размеры, дизайн  и материал
					.col-lg-4.col-md-6.mt-5
						.icon-box(data-aos='zoom-in-left', data-aos-delay='300')
							.icon
								i.las.la-tachometer-alt(style='color:#41cf2e;')
							h4.title
								a(href='') Доставка в любую точку земли
							p.description
								| Вы можете заказать комплект постельного белья из любой точки земли не выходя из дома
					.col-lg-4.col-md-6.mt-5
						.icon-box(data-aos='zoom-in-left', data-aos-delay='400')
							.icon
								i.las.la-globe-americas(style='color: #d6ff22;')
							h4.title
								a(href='') Что мы можем предложить?
							p.description
								| Мы предлагаем вам стать нашим официальным представителем в вашем городе и получить всевозможную поддержку от нас для развития собственного бизнеса.  За подробной информацией обращайтесь mazzo_uz@mail.ru
					.col-lg-4.col-md-6.mt-5
						.icon-box(data-aos='zoom-in-left', data-aos-delay='500')
							.icon
								i.las.la-clock(style='color: #4680ff;')
							h4.title
								a(href='') Высшее качество
							p.description
								| Благодаря безупречному материалу из которых шьются наши комплекты,  мы даем вам 15-20 лет гарантии на каждый комплект
					// End Services Section
					// ======= Portfolio Section =======
		section#portfolio.portfolio
			.container
				.section-title(data-aos='zoom-out')
					h2 Portfolio
					p What we've done
				ul#portfolio-flters.d-flex.justify-content-end(data-aos='fade-up')
					li.filter-active(data-filter='*') Всё
					li(data-filter='.filter-app') Сатин
					li(data-filter='.filter-card') Поплин
					li(data-filter='.filter-web') Ситец
				.row.portfolio-container(data-aos='fade-up')
					.col-lg-4.col-md-6.portfolio-item.filter-app
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-1.JPG', alt='')
						.portfolio-info
							h4 App 1
							p App
							a.venobox.preview-link(href='/images/portfolio/portfolio-1.jpg', data-gall='portfolioGallery', title='App 1')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-web
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-2.jpg', alt='')
						.portfolio-info
							h4 Web 3
							p Web
							a.venobox.preview-link(href='/images/portfolio/portfolio-2.jpg', data-gall='portfolioGallery', title='Web 3')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-app
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-3.jpg', alt='')
						.portfolio-info
							h4 App 2
							p App
							a.venobox.preview-link(href='/images/portfolio/portfolio-3.jpg', data-gall='portfolioGallery', title='App 2')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-4.jpg', alt='')
						.portfolio-info
							h4 Card 2
							p Card
							a.venobox.preview-link(href='/images/portfolio/portfolio-4.jpg', data-gall='portfolioGallery', title='Card 2')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-web
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-5.jpg', alt='')
						.portfolio-info
							h4 Web 2
							p Web
							a.venobox.preview-link(href='/images/portfolio/portfolio-5.jpg', data-gall='portfolioGallery', title='Web 2')
								i.bx.bx-plus
							a.details-link(href='portfolio-details.html', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-app
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-6.jpg', alt='')
						.portfolio-info
							h4 App 3
							p App
							a.venobox.preview-link(href='/images/portfolio/portfolio-6.jpg', data-gall='portfolioGallery', title='App 3')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-7.jpg', alt='')
						.portfolio-info
							h4 Card 1
							p Card
							a.venobox.preview-link(href='/images/portfolio/portfolio-7.jpg', data-gall='portfolioGallery', title='Card 1')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-card
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-8.jpg', alt='')
						.portfolio-info
							h4 Card 3
							p Card
							a.venobox.preview-link(href='/images/portfolio/portfolio-8.jpg', data-gall='portfolioGallery', title='Card 3')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					.col-lg-4.col-md-6.portfolio-item.filter-web
						.portfolio-img
							img.img-fluid(src='/images/portfolio/portfolio-9.jpg', alt='')
						.portfolio-info
							h4 Web 1
							p Web
							a.venobox.preview-link(href='/images/portfolio/portfolio-9.jpg', data-gall='portfolioGallery', title='Web 3')
								i.bx.bx-plus
							a.details-link(href='/portfolio-details', title='More Details')
								i.bx.bx-link
					// End Portfolio Section
					// ======= Testimonials Section =======
		//section#testimonials.testimonials
		//	.container
		//		.section-title(data-aos='zoom-out')
		//			h2 Testimonials
		//			p What they are saying about us
		//		.owl-carousel.testimonials-carousel(data-aos='fade-up')
		//			.testimonial-item
		//				p
		//					i.bx.bxs-quote-alt-left.quote-icon-left
		//					|               Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
		//					i.bx.bxs-quote-alt-right.quote-icon-right
		//				images.testimonial-images(src='/images/testimonials/testimonials-1.jpg', alt='')
		//				h3 Saul Goodman
		//				h4 Ceo & Founder
		//			.testimonial-item
		//				p
		//					i.bx.bxs-quote-alt-left.quote-icon-left
		//					|               Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
		//					i.bx.bxs-quote-alt-right.quote-icon-right
		//				images.testimonial-images(src='/images/testimonials/testimonials-2.jpg', alt='')
		//				h3 Sara Wilsson
		//				h4 Designer
		//			.testimonial-item
		//				p
		//					i.bx.bxs-quote-alt-left.quote-icon-left
		//					|               Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
		//					i.bx.bxs-quote-alt-right.quote-icon-right
		//				images.testimonial-images(src='/images/testimonials/testimonials-3.jpg', alt='')
		//				h3 Jena Karlis
		//				h4 Store Owner
		//			.testimonial-item
		//				p
		//					i.bx.bxs-quote-alt-left.quote-icon-left
		//					|               Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
		//					i.bx.bxs-quote-alt-right.quote-icon-right
		//				images.testimonial-images(src='/images/testimonials/testimonials-4.jpg', alt='')
		//				h3 Matt Brandon
		//				h4 Freelancer
		//			.testimonial-item
		//				p
		//					i.bx.bxs-quote-alt-left.quote-icon-left
		//					|               Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
		//					i.bx.bxs-quote-alt-right.quote-icon-right
		//				images.testimonial-images(src='/images/testimonials/testimonials-5.jpg', alt='')
		//				h3 John Larson
		//				h4 Entrepreneur
		//			// End Testimonials Section
		//			// ======= Pricing Section =======
		//section#pricing.pricing
		//	.container
		//		.section-title(data-aos='zoom-out')
		//			h2 Pricing
		//			p Our Competing Prices
		//		.row
		//			.col-lg-3.col-md-6
		//				.box(data-aos='zoom-in')
		//					h3 Free
		//					h4
		//						sup $
		//						| 0
		//						span  / month
		//					ul
		//						li Aida dere
		//						li Nec feugiat nisl
		//						li Nulla at volutpat dola
		//						li.na Pharetra massa
		//						li.na Massa ultricies mi
		//					.btn-wrap
		//						a.btn-buy(href='#') Buy Now
		//			.col-lg-3.col-md-6.mt-4.mt-md-0
		//				.box.featured(data-aos='zoom-in', data-aos-delay='100')
		//					h3 Business
		//					h4
		//						sup $
		//						| 19
		//						span  / month
		//					ul
		//						li Aida dere
		//						li Nec feugiat nisl
		//						li Nulla at volutpat dola
		//						li Pharetra massa
		//						li.na Massa ultricies mi
		//					.btn-wrap
		//						a.btn-buy(href='#') Buy Now
		//			.col-lg-3.col-md-6.mt-4.mt-lg-0
		//				.box(data-aos='zoom-in', data-aos-delay='200')
		//					h3 Developer
		//					h4
		//						sup $
		//						| 29
		//						span  / month
		//					ul
		//						li Aida dere
		//						li Nec feugiat nisl
		//						li Nulla at volutpat dola
		//						li Pharetra massa
		//						li Massa ultricies mi
		//					.btn-wrap
		//						a.btn-buy(href='#') Buy Now
		//			.col-lg-3.col-md-6.mt-4.mt-lg-0
		//				.box(data-aos='zoom-in', data-aos-delay='300')
		//					span.advanced Advanced
		//					h3 Ultimate
		//					h4
		//						sup $
		//						| 49
		//						span  / month
		//					ul
		//						li Aida dere
		//						li Nec feugiat nisl
		//						li Nulla at volutpat dola
		//						li Pharetra massa
		//						li Massa ultricies mi
		//					.btn-wrap
		//						a.btn-buy(href='#') Buy Now
		//			// End Pricing Section
		//			// ======= F.A.Q Section =======
		//section#faq.faq
		//	.container
		//		.section-title(data-aos='zoom-out')
		//			h2 F.A.Q
		//			p Frequently Asked Questions
		//		ul.faq-list
		//			li(data-aos='fade-up', data-aos-delay='100')
		//				a(data-toggle='collapse', href='#faq1')
		//					| Non consectetur a erat nam at lectus urna duis?
		//					i.icofont-simple-up
		//				#faq1.collapse.show(data-parent='.faq-list')
		//					p
		//						| Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
		//			li(data-aos='fade-up', data-aos-delay='200')
		//				a.collapsed(data-toggle='collapse', href='#faq2')
		//					| Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
		//					i.icofont-simple-up
		//				#faq2.collapse(data-parent='.faq-list')
		//					p
		//						| Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
		//			li(data-aos='fade-up', data-aos-delay='300')
		//				a.collapsed(data-toggle='collapse', href='#faq3')
		//					| Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
		//					i.icofont-simple-up
		//				#faq3.collapse(data-parent='.faq-list')
		//					p
		//						| Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
		//			li(data-aos='fade-up', data-aos-delay='400')
		//				a.collapsed(data-toggle='collapse', href='#faq4')
		//					| Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
		//					i.icofont-simple-up
		//				#faq4.collapse(data-parent='.faq-list')
		//					p
		//						| Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
		//			li(data-aos='fade-up', data-aos-delay='500')
		//				a.collapsed(data-toggle='collapse', href='#faq5')
		//					| Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
		//					i.icofont-simple-up
		//				#faq5.collapse(data-parent='.faq-list')
		//					p
		//						| Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
		//			li(data-aos='fade-up', data-aos-delay='600')
		//				a.collapsed(data-toggle='collapse', href='#faq6')
		//					| Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor?
		//					i.icofont-simple-up
		//				#faq6.collapse(data-parent='.faq-list')
		//					p
		//						| Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
		//			// End F.A.Q Section
		//			// ======= Team Section =======
		section#contact.contact
			.container
				.section-title(data-aos='zoom-out')
					h2 Контакт
					p Связаться с нами
				.row.mt-5
					.col-lg-4(data-aos='fade-right')
						.info
							.address
								i.icofont-google-map
								h4 Расположение:
								p Самарканд
							.email
								i.icofont-envelope
								h4 Эл. адрес:
								p mazzo_uz@mail.ru
							.phone
								i.icofont-phone
								h4 Тел:
								a(href='tel:++998 90 021 99 77') +998 90 021 99 77
					.col-lg-8.mt-5.mt-lg-0(data-aos='fade-left')
						form.php-email-form(action='/', method='post', role='form')
							.form-row
								.col-md-6.form-group
									input#name.form-control(type='text', name='name', placeholder='Your Name', data-rule='minlen:4', data-msg='Please enter at least 4 chars')
									.validate
								.col-md-6.form-group
									input#email.form-control(type='email', name='email', placeholder='Your Email', data-rule='email', data-msg='Please enter a valid email')
									.validate
							.form-group
								input#subject.form-control(type='text', name='subject', placeholder='Subject', data-rule='minlen:4', data-msg='Please enter at least 8 chars of subject')
								.validate
							.form-group
								textarea.form-control(name='message', rows='5', data-rule='required', data-msg='Please write something for us', placeholder='Message')
								.validate
							.mb-3
								.loading Loading
								.error-message
								.sent-message Your message has been sent. Thank you!
							.text-center
								button(type='submit') Send Message
	
	footer#footer
		.container
			h3 Mazzo
			//p |Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.
			.social-links
			a.twitter(href='#')
				i.bx.bxl-twitter
			a.facebook(href='#')
				i.bx.bxl-facebook
			a.instagram(href='#')
				i.bx.bxl-instagram
			a.google-plus(href='#')
				i.bx.bxl-skype
			a.linkedin(href='#')
				i.bx.bxl-linkedin
			.copyright
			|©Copyright 
			strong
				span Mazzo
			|.All Rights Reserved
	a.back-to-top(href='#')
		i.ri-arrow-up-line


		

					

					
			