extends ../layout

block content
    header#header.fixed-top.d-flex.align-items-center
        .container.d-flex.align-items-center
            .logo.mr-auto
                h1.text-light
                    a(href='/ru') Mazzo
            nav.nav-menu.d-none.d-lg-block
                ul
                    li.active
                        a(href='/ru') Главное
                    li
                        a(href='/ru#about') О нас
                    li
                        a(href='/ru/katalog') Каталог


                    li
                        a(href='/ru#contact') Контакты
                    li
                        a(href='/en') ен
    main#main
        section.about
            .container
                .product-area.section
                    .container
                        .row
                            .col-12
                                .product-info
                                    .nav-main
                                        // Tab Nav

                                        ul#myTab.nav.nav-tabs(role='tablist')
                                            each product in products
                                                li.nav-item
                                                    a.nav-link(class= (product.name_ru == oneproduct ? "active":"") href='/ru/katalog/'+ product._id, role='tab')= product.name_ru

                                    #myTabContent.tab-content
                                        // Start Single Tab
                                        #man.tab-pane.fade.show.active(role='tabpanel')
                                            .tab-single
                                                .row
                                                    each collection in collections

                                                        .col-xl-3.col-lg-4.col-md-4.col-12
                                                            .single-product
                                                                .product-img
                                                                    a(href='/ru/collection/'+ collection._id)
                                                                        img.default-img(src=''+ collection.imgs[0].url.replace("public",""), alt='#')
                                                                    .button-head
                                                                        .product-action
                                                                            a(data-toggle='modal', data-target='#exampleModal', title='Quick View', href='#')
                                                                                i.ti-eye
                                                                                span Quick Shop

                                                                            a(title='Compare', href='#')
                                                                                i.ti-bar-chart-alt
                                                                                span
                                                                                    | Add to
                                                                                    | Compare
                                                                        .product-action-2
                                                                            a(title='#', href='#') Корзина
                                                                .product-content
                                                                    h3
                                                                         a(href='/ru/collection/'+ collection._id)= collection.name_ru
                                                                    .product-price
                                                                        span #{collection.price} $
    footer#footer
        .container
            h3 Mazzo
            //p |Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.
            .social-links
                a.telegram(href='https://t.me/Mazzo_lux_postel')
                    i.bx.bxl-telegram
                a.facebook(href='https://www.facebook.com/Mazzo-112011266987526/')
                    i.bx.bxl-facebook
                a.instagram(href='https://www.instagram.com/invites/contact/?i=wzqzm57fyo3k&utm_content=cpi8om2')
                    i.bx.bxl-instagram
            .copyright
            | ©Авторское право
            strong
                span  Mazzo.
            | Все права защищены
    a.back-to-top(href='#')
        i.ri-arrow-up-line