doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Mazzo
    meta(content='', name='descriptison')
    meta(content='', name='keywords')
    // Favicons
    link(href='/images/mazzo.png', rel='icon' type='image/png')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    // Vendor CSS Files
    link(href='/vendor/bootstrap/css/bootstrap.css', rel='stylesheet')

    link(href='/vendor/icofont/icofont.min.css', rel='stylesheet')
    link(href='/vendor/boxicons/css/boxicons.min.css', rel='stylesheet')
    link(href='/vendor/animate.css/animate.min.css', rel='stylesheet')
    link(href='/vendor/remixicon/remixicon.css', rel='stylesheet')
    link(href='/vendor/line-awesome/css/line-awesome.min.css', rel='stylesheet')
    link(href='/vendor/venobox/venobox.css', rel='stylesheet')
    link(href='/vendor/owl.carousel/assets/owl.carousel.min.css', rel='stylesheet')
    link(href='/vendor/aos/aos.css', rel='stylesheet')
    // Template Main CSS File
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(href='/stylesheets/main.css', rel='stylesheet')
    link(href='/stylesheets/util.css', rel='stylesheet')
    link(href='/stylesheets/main_katalog.css', rel='stylesheet')
  body 
    != messages('message',locals)
    if errors
      each error,i in errors  
          div(class='alert alert-danger ') #{error.msg}
    
    block content

      
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/vendor/jquery.easing/jquery.easing.min.js')
    script(src='/vendor/php-email-form/validate.js')
    script(src='/vendor/isotope-layout/isotope.pkgd.min.js')
    script(src='/vendor/venobox/venobox.min.js')
    script(src='/vendor/owl.carousel/owl.carousel.min.js')
    script(src='/vendor/aos/aos.js')
    // Template Main JS File
    script(src='/javascripts/main.js')

  
