doctype html
html
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    title Mazzo
    meta(content='', name='descriptison')
    meta(content='', name='keywords')
    // Favicons
    link(href='/images/mazzo.png', rel='icon' type='image/png')
    link(href='/img/apple-touch-icon.png', rel='apple-touch-icon')
    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i', rel='stylesheet')
    // Vendor CSS Files
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/icofont/icofont.min.css', rel='stylesheet')
    link(href='/vendor/boxicons/css/boxicons.min.css', rel='stylesheet')
    link(href='/vendor/animate.css/animate.min.css', rel='stylesheet')
    link(href='/vendor/remixicon/remixicon.css', rel='stylesheet')
    link(href='/vendor/line-awesome/css/line-awesome.min.css', rel='stylesheet')
    link(href='/vendor/venobox/venobox.css', rel='stylesheet')
    link(href='/vendor/owl.carousel/assets/owl.carousel.min.css', rel='stylesheet')
    link(href='/vendor/aos/aos.css', rel='stylesheet')
    // Template Main CSS File
    link(href='/stylesheets/style.css', rel='stylesheet')

  body
    block content
        header#header.fixed-top.d-flex.align-items-center.header-transparent
          .container.d-flex.align-items-center
            .logo.mr-auto
              h1.text-light
              a(href='index.html')
                span Mazza
            nav.nav-menu.d-none.d-lg-block
              ul
                li.active
                  a(href='index.html') Home
                li
                  a(href='#about') About
                li
                  a(href='#services') Services
                li
                  a(href='#portfolio') Portfolio
                li
                  a(href='#testimonials') Testimonials
                li
                  a(href='#pricing') Pricing
                li
                  a(href='#faq') F.A.Q
                li
                  a(href='#team') Team
                li
                  a(href='#contact') Contact

    block footer
        footer#footer
          .container
            h3 Mazza
            p
              | Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.
            .social-links
              a.twitter(href='#')
                i.bx.bxl-twitter
              a.facebook(href='#')
                i.bx.bxl-facebook
              a.instagram(href='#')
                i.bx.bxl-instagram
              a.google-plus(href='#')
                i.bx.bxl-skype
              a.linkedin(href='#')
                i.bx.bxl-linkedin
            .copyright
              | © Copyright 
              strong
                span Mazza
              | . All Rights Reserved
          a.back-to-top(href='#')
              i.ri-arrow-up-line      
    block javascripts
        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
        script(src='/vendor/jquery.easing/jquery.easing.min.js')
        script(src='/vendor/php-email-form/validate.js')
        script(src='/vendor/isotope-layout/isotope.pkgd.min.js')
        script(src='/vendor/venobox/venobox.min.js')
        script(src='/vendor/owl.carousel/owl.carousel.min.js')
        script(src='/vendor/aos/aos.js')
        // Template Main JS File
        script(src='/javascripts/main.js')

  
