extends ../layout

block content
    header#header.fixed-top.d-flex.align-items-center
        .container.d-flex.align-items-center
            .logo.mr-auto
                h1.text-light
                    a(href='/en') Mazzo
            nav.nav-menu.d-none.d-lg-block
                ul
                    li.active
                        a(href='/en') Home
                    li
                        a(href='#about') About us
                    li
                        a(href='/en/katalog') Category

                    li
                        a(href='#pricing') Pricing

                    li
                        a(href='#team') Team
                    li
                        a(href='#contact') Contacts
                    li
                        a(href='/ru') ru
    main#main
        section.about
            .container
                .product-area.section
                    .container
                        .row
                            .col-12
                                .product-info
                                    .nav-main
                                        // Tab Nav

                                        ul#myTab.nav.nav-tabs(role='tablist')
                                            each product in products
                                                li.nav-item
                                                    a.nav-link(class= (product.name_en == oneproduct ? "active":"") href='/en/katalog/'+ product._id, role='tab')= product.name_en

                                    #myTabContent.tab-content
                                        // Start Single Tab
                                        #man.tab-pane.fade.show.active(role='tabpanel')
                                            .tab-single
                                                .row
                                                    each collection in collections

                                                        .col-xl-3.col-lg-4.col-md-4.col-12
                                                            .single-product
                                                                .product-img
                                                                    a(href='/en/collection/'+ collection._id)
                                                                        img.default-img(src=''+ collection.imgs[0].url.replace("public",""), alt='#')
                                                                    .button-head
                                                                        .product-action
                                                                            a(data-toggle='modal', data-target='#exampleModal', title='Quick View', href='#')
                                                                                i.ti-eye
                                                                                span Quick Shop

                                                                            a(title='Compare', href='#')
                                                                                i.ti-bar-chart-alt
                                                                                span
                                                                                    | Add to
                                                                                    | Compare
                                                                        .product-action-2
                                                                            a(title='Add to cart', href='#') Add to cart
                                                                .product-content
                                                                    h3
                                                                         a(href='/en/collection/'+ collection._id)= collection.name_en
                                                                    .product-price
                                                                        span #{collection.price} сум
    footer#footer
        .container
        h3 Mazzo
        p
            | Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.
        .social-links
            a.twitter(href='#')
                i.bx.bxl-twitter
            a.facebook(href='#')
                i.bx.bxl-facebook
            a.instagram(href='#')
                i.bx.bxl-instagram
            a.google-plus(href='#')
                i.bx.bxl-skype
            a.linkedin(href='#')
                i.bx.bxl-linkedin
        .copyright
            | © Copyright
            strong
            span Selecao
            | . All Rights Reserved
        .credits
            // All the links in the footer should remain intact.
            // You can delete the links only if you purchased the pro version.
            // Licensing information: https://bootstrapmade.com/license/
            // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/
            | Designed by

    // End Footer
    a.back-to-top(href='#')
        i.ri-arrow-up-line